<app-emp-count [all]="getAllEmpCount()"
[male]="getMaleEmpCount()"
[female]="getFemaleEmpCount()"
[other] ="getOtherEmpCount()"

(data)="showsData($event)"></app-emp-count>
<table>
  <tr>
    <th>Name</th>
    <th>DOB</th>
    <th>Department</th>
    <th>Age</th>
  </tr>
  <ng-container *ngFor=" let emp of data; let i = index; trackBy: trackByEmpCode">
    <tr *ngIf="emp.gender == selectedRadioButtonValue || selectedRadioButtonValue == 'All'">
      <td>{{emp.name | uppercase | title: emp.gender}}</td>
      <td>{{emp.dob}}</td>
      <td>{{emp.dept}}</td>
      <td>{{ emp.dob | age }}</td>
    </tr>
  </ng-container>

</table>
<button (click)="refresh()">Refresh</button>
