<div>Shows:</div>
<span>{{'All('+all+')'}}</span>
<input type="radio" name="options" [(ngModel)]="selectedRadio" id="" (change)="showEmp()"  value="All">&nbsp;&nbsp;

<span>{{'Mate('+male+')'}}</span>
<input type="radio" name="options" id="" [(ngModel)]="selectedRadio" (change)="showEmp()" value="male">&nbsp;&nbsp;

<span>{{'Female('+female+')'}}</span>
<input type="radio" name="options" id="" [(ngModel)]="selectedRadio" (change)="showEmp()" value="female">&nbsp;&nbsp;

<span>{{'Other('+other+')'}}</span>
<input type="radio" name="options" id="" [(ngModel)]="selectedRadio" (change)="showEmp()" value="other">&nbsp;&nbsp;
